
services:
  newt:
    image: ghcr.io/fosrl/newt:1.8.0
    container_name: newt
    restart: unless-stopped
    environment:
      - PANGOLIN_ENDPOINT={{ pangolin_endpoint }}
      - NEWT_ID={{ newt_id }}
      - NEWT_SECRET={{ newt_secret }}
    networks:
      - {{ services.newt.network }}

networks:
  {{ services.newt.network }}:
    external: true
