
- name: Restart Pangolin stack
  community.docker.docker_compose_v2:
    project_src: "{{ pangolin_deploy_dir }}"
    project_name: "{{ pangolin_compose_project_name }}"
    state: restarted

  listen: "Restart Pangolin stack"
